
@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="mt-5">
    <div class="container text-center" style="margin-top:10px">
        <h3>QUẢN LÝ CỬA HÀNG</h3>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <video autoplay="" allow="autoplay" loop="" muted="muted" playsinline="" style="width: 100%"><source src="https://thombrownevn.com/wp-content/uploads/2020/06/1813487637.mp4"></video>

        </div>
    </div>
</div>
