
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="container" style="margin-bottom:5vh;margin-top:10vh;height:70vh">
    <div class="row" style="margin-bottom:5vh;margin-top:10vh">
        <div class="col-md-3">
            <div class="card" style="width: 18rem; margin-bottom: 5vh; margin-top: 10vh">
                <div class="card-header px-3">Miêu tả</div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-3">Chất lượng cao</li>
                    <li class="list-group-item px-3">Chính hãng</li>
                    <li class="list-group-item px-3">Bảo hành</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://media.gq.com/photos/6204370b30fb65f0babd8438/master/pass/MIKE%20WES%20HI-RES.JPG" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="text-title">Thông tin</h5>
                    <p class="card-text" style="color:gray">Họ và tên: <span style="color:black">Nguyễn Thanh Hải</span></p>
                    <p class="card-text" style="color:gray">MSSV <span style="color:black">2001207201</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; margin-bottom: 5vh; margin-top: 10vh">
                <div class="card-header px-3">Bảo hành</div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-3">Đổi trả trong 14 ngày</li>
                    <li class="list-group-item px-3">Hoàn trả nếu có lỗi</li>
                    <li class="list-group-item px-3">Khắc phục sự cố sản phẩm</li>
                </ul>
            </div>
        </div>
    </div>
</div>
