
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/Main.cshtml";
}
<div class="container" style="height:40vh;margin-top:20vh;overflow:hidden">
    <h1 >LỖI 404</h1>
    <h2 >Trang web không tồn tại.</h2>
</div>


